* {
    padding: 0;
    margin: 0;
}

:root {
    --container-width: 1080px;
    --container-height: 40vh;

}

body {
    display: flex;
    justify-content: center;
}

.container {
    width: var(--container-width);
    height: var(--container-height);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labels {
    width: 100%;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .button {
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    button {
        color: blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 10px 20px;
    }

    .AddP {
        color: white;
        background-color: blue;
    }
}

.Physicians {
    margin-left: 20px;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oneName {
    padding: 5px;
    background-color: rgb(245, 245, 245);
    height: 30px;
    align-items: center;
    display: flex;
    gap: 20px;

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid gray;
        display: inline-block;
        transform: rotate(360deg);
    }

    label {
        margin-right: 10px;

    }

    input {
        margin-left: 30px;
    }

}

.br {
    width: 1px;
    height: 30px;
    background-color: gray;
}

input {
    width: 20px;
    height: 20px;
    margin-left: 7px;
}

.Name {
    display: flex;
    gap: 8px;
    align-items: center;
}

.NameFix {
    display: flex;
    gap: 50px;
    align-items: center;
}


.secondLine {
    display: flex;
    gap: 10px;
    align-items: end;
    label {
        margin-left: 5px;
        color: blue;
        input {
            width: 150px;
            border: none;
        }
    }
}

label {
    font-size: 20px;
    font-weight: 500;
}

.first {
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.numbers {
    input {
        margin-left: 30px;
        color: blue;
        width: 125px;
        border: none;
    }
}

input {
    color: blue;

}

.line {
    width: 100%;
    height: 1px;
    background-color: gray;

}

.price {
    margin-left: 20px;
    input {
        width: 56px;
        text-align: right;
        border: none;
        color: gray;
    }
}

.numberSecond {
    input {
        border: none;
        width: 105px;

    }
}

.PAP {
    width: 90px;
    .fas.fa-check {
        color: gray;
        font-size: 24px;
        margin-right: 6px;
    }
}

.PAPTwo {
    width: 90px;

}


.FAX {
    margin-left: 70px;
    .fas.fa-check {
        color: gray;
        font-size: 24px;
    }

}

.imag {
    input {
        color: gray;
        border: none;
        width: 100px;
    }
}

.Preferr {
    input {
        color: gray;
        border: none;
        width: 100px;
    }
}

.threeLine {
    display: flex;
    align-items: end;
    gap: 9px;
    label {
        margin-left: 5px;
        color: blue;
        input {
            width: 150px;
            border: none;
        }
    }

}

.endButton {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    button {
        padding: 10px 20px;
        border-radius: 5px;
    }
}

#Cansel {
    color: blue;
    background-color: white;
}

#Save {
    color: white;
    background-color: blue;
}


.checkBox {
    border: none;
}