
body {
    font-family: Arial, sans-serif;
    width: 100%;
    overflow: hidden;
}

.table-container {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


tr:hover {
    background-color: #f9f9f9;
}


.editing {
    background-color: #ffeb99;
}

.label{
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 20px;
}

td[data-label="Contact Name"]{
    color: #007bff;
}

td[data-label="Contact Phone"]{
    color: #007bff;
}

td[data-label="Contact"]{
    color: #007bff;
}


.btn {
    padding: 10px 30px;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}



.btnAdd {
    color: #007bff;
    background-color: #fff;
}

.buttons button:hover {
    background-color: #0056b3;
}



@media only screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        display: none;
    }

    tr {
        margin-bottom: 10px;
    }

    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

